body {
  background-color: aquamarine;
}
ul {
  list-style-type: none;
  border: 1px solid red;
  height: 300px;
  width: 100px;
}
.wrapper {
  background-color: lightgrey;
  width: 70%;
  height: 70%;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
.selected {
  background-color: green;
}
.listLeft {
  background-color: whitesmoke;
  float: left;
}
.listRight {
  float: left;
  background-color: whitesmoke;
}
